# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing & Coverage
/coverage

# Next.js & Build Outputs
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Environment Variables (Protect Secrets)
.env*
!.env.example

# Local SQLite databases & temporary DB files
*.db
*.db-journal
*.sqlite
*.sqlite3
prisma/*.db
prisma/*.db-journal

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System & OS Files
.DS_Store
*.pem
Thumbs.db
